/*your custom css goes here*/

.top-navbar {
    background: #0a325b;
    color: #ffffff;
    padding: 5px 0px;
}
.top-contact-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ph-wrap {
    display: flex;
    align-items: center;
} /*your custom css goes here*/
.absolute-top-right {
    top: 30%;
}
.front-header-search {
    margin: 40px 0px;
}
.search-area {
    max-width: 850px;
    margin: 0 auto;
    height: calc(100vh - 300px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.typed-search-box {
    z-index: 999;
}
.search-btn {
    background-color: #005d6a;
    border: 0;
    height: 60px;
}
.search-input {
    height: 60px;
    z-index: 99;
}
.cust-group {
    width: 80%;
    margin: 0 auto;
}

.search-btn:hover {
    background-color: #063e46;
}
.footer-img {
    width: 200px;
    height: 200px;
}
.module-area {
    padding: 20px;
    border-radius: 10px;
    margin: 40px 0px;
    box-shadow: 0 2px 10px 6px rgb(0 0 0 / 49%);
    height: 300px;
}
.module-img {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    display: block;
}
.module-title {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    color: #005d6a;
}
.search-wrapper {
    background-color: #276e57 !important;
    padding: 30px;
}
.search-title {
    margin: 0;
    font-weight: 600;
    font-size: 50px;
    text-shadow: 0 0 40px #fff, 0 0 30px #fff, 0 0 20px #fff, 0 0 10px #fff;
    text-align: center;
    margin-bottom: 30px;
    color: #005d6a;
}

.repair-wrap {
}

.repair-content p {
    margin: 0;
    font-size: 15px;
}

.repair-content h4 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
}

.repair-content ul li {
    font-size: 15px;
    line-height: 24px;
}

.buy-link {
    text-align: center;
}

.list-group-item {
    border-bottom: 1px solid red;
}

.search-item {
    box-shadow: 0 2px 6px 3px rgb(0 0 0 / 36%);
    margin-bottom: 8px;
    border-radius: 5px;
}
.list-group-raw {
    margin: 0px 10px;
}

.brand-area {
    max-width: 800px;
    margin: 0 auto;
}

.brand-wrap {
    display: flex;
    align-content: center;
    justify-content: center;
    box-shadow: 0 2px 6px 3px rgb(0 0 0 / 36%);
    border-radius: 10px;
}

.brand-wrap .item {
    text-align: center;
    padding: 15px;
}
.item p {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}

.toptitle {
    font-size: 22px;
    font-weight: 700;
    color: #191919;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    padding: 45px 0px;
}
.toptitle::before {
    content: " ";
    width: 60px;
    border-top: 2px solid #e94d65;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    display: block;
    bottom: 30px;
    position: absolute;
}

.repair-type-area {
    margin: 30px 0px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
.module-section {
}
.module-section a {
    color: #fff;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
}

.module-section a:hover {
    color: #fbbc05;
}

.fa-minus,
.fa-plus {
    font-size: 25px;
}

.sidebar-title {
    padding: 8px 15px;
    background: #51688b;
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price-area {
    display: flex;
    align-items: center;
}
.price-area p {
    color: #ffffff;
    margin: 0;
    padding-right: 5px;
}

.title-sidebar {
    margin-right: 8px;
}
.form-check .form-check-input {
    margin-top: 8px !important;
}

a[aria-expanded="true"] .fa-plus {
    display: none !important;
}
a[aria-expanded="true"] .fa-minus {
    display: block !important;
}
.collapse:not(.show) {
    display: none;
}

.collapse-content {
    background-color: #fff;
    color: #666;
    padding: 10px;
    align-items: center;
}
.total-price {
    padding: 8px 15px;
    background: #51688b;
    margin-bottom: 30px;
}
.total-price p {
    margin: 0;
    text-align: right;
    color: #ffffff;
    font-size: 16px;
}
.total-price span {
    font-weight: 700;
}
.fa-minus {
    display: none !important;
}
.fa-minus,
.fa-plus {
    color: #fbbc05;
}

.repair-icon {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.button-area {
    text-align: center;
    font-weight: 700;

}

.single-item {
    box-shadow: 0 2px 6px 3px rgb(0 0 0 / 36%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    border-radius: 5px;
}
.single-item:last-child{
    margin-bottom: 0px;
}

.single-item p {
    margin: 0;
}

.repair-item-wrap {
    list-style-type: none;
}
.repair-type-wrap {
    max-width: 900px;
    margin: 0 auto;
}

.shipping-wrap {
    max-width: 900px;
    margin: 0 auto;
}

.form-check-radio {
    display: flex;
    align-items: center;
}
.form-check-radio label {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
}
.form-check-radio .radio-input {
    margin-right: 10px;
}
.radio-wrapper {
}

.radio-wrapper p {
    margin-left: 20px;
}
.radio-wrapper p:last-child {
    margin-bottom: 0;
}
.next-area{
    max-width: 900px;
    margin:0 auto;
    margin-bottom: 30px;
}
.next-desc{

    text-align: center;
    max-width: 700px;
    margin:0 auto;
    margin-top:-10px;
    margin-bottom: 20px;
}

.shipment-payment-wrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.shipment-payment-wrap .items{
    box-shadow: 0 2px 6px 3px rgb(0 0 0 / 36%);
    padding: 20px 10px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    width: 350px;
    text-align: center;

}
.personal-wrap{
    margin-bottom: 30px;
}
.report-brand-area{
    padding:30px 0px;
}
.report-no{
    text-align: center;
    font-weight: 700;
    padding: 10px 0px;
    color: #005d6a;
}
.report-area{
    max-width: 500px;
    margin:0 auto;
    padding: 30px 0px;
}
.report-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 12px;

}
.report-area p{
    margin:0;
    font-weight: 600;
    font-size:16px;
}
.report-area label{
    margin:0;
    font-size:16px;
}
.label-area{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
